{% extends "base.html" %}
{% load static %}
{% load compress %}
{% block title %}
    New transaction
{% endblock %}

{% block content %}



<div class="w-full p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">Your escrow request has been sent.</h5>
    <p class="mb-5  text-gray-500 sm:text-lg dark:text-gray-400">We will update once they have agreed to the escrow request.</p>
    
   
        <div  class="flex items-center p-3  mb-3 font-bold text-gray-900 rounded-lg bg-gray-50  dark:bg-gray-600  dark:text-white">
        <span id="shareable_url" class="flex-1 ms-3 whitespace-nowrap">http://127.0.0.1:8000{{ transaction.shareable_url }}</span>
        <span id="copy-text" class="hover:bg-gray-200 p-3 hover:shadow cursor-pointer dark:hover:bg-gray-500">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
          </svg>
          
        </div>
        </span>
        <span class="text-xs">Copy the following url and paste in chats on social media</span>
     
    
    <div class="items-center mt-3 justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
        <a href="#" class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            <div class="text-left rtl:text-right">
                <p>Back to home</p>
            </div>
        </a>
    </div>
</div>


{% endblock %}

{% block script %}
{% compress js %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById("copy-text").addEventListener('click', () => {
            let textCopy = document.getElementById("shareable_url").textContent;

            navigator.clipboard.writeText(textCopy).then(()=> {
                alert("Text copied")
            }, () => {
                alert("Not copied")
            })
        })

    })
</script>
{% endcompress %}

{% endblock %}
