{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ transaction.title }}
{% endblock %}
{% block content %}
     <h1 class="font-bold text-xl mb-6">Transaction #112340826</h1>

     {% if transaction.status == 'AR' %}

      <div id="alert-additional-content-4" class="p-4 mb-4 text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800" role="alert">
        <div class="flex items-center">
          <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Info</span>
          <h3 class="text-lg font-medium">This is an action required alert</h3>
        </div>
        <div class="mt-2 mb-4 text-sm">
          {{ transaction.action_description }}        </div>

      </div>

     {% endif %}

      <p class="font-semibold text-lg mb-4">Transaction details</p>
      <div class="grid gap-6 grid-cols-4 mb-4 [&>div>p]:text-sm">
        <div class="flex flex-col space-y-1.5">
            <span class="uppercase text-xs">transaction number</span>
            <p>112340826</p>
        </div>
        <div class="flex flex-col space-y-1.5">
            <span class="uppercase text-xs">amount </span>
            <p>{{ transaction.amount }}</p>
        </div>
        <div class="flex flex-col space-y-1.5">
            <span class="uppercase text-xs">initiator </span>
            <p>{{ transaction.initiator }}</p>
        </div>
        <div class="flex flex-col space-y-1.5">
            <span class="uppercase text-xs"> date</span>
            <p>04/12/2023</p>
        </div>
        <div class="flex flex-col space-y-1.5">
            <span class="uppercase text-xs"> title</span>
            <p>{{ transaction.title }}</p>
        </div>
   
   
        <div class="flex flex-col space-y-1.5">
            <span class="uppercase text-xs"> buyer</span>
            <p>{{ transaction.buyer.user }}</p>
        </div>
        <div class="flex flex-col space-y-1.5">
            <span class="uppercase text-xs"> seller</span>
            <p> {{ transaction.seller.user }}</p>
        </div>
        <div class="flex flex-col space-y-1.5">
            <span class="uppercase text-xs"> status</span>
            <span class="bg-gray-100 text-gray-800 w-fit text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300">{{transaction.status}}</span>

        </div>

      </div>
    
      <div class="mb-6">
    <p class="font-semibold text-lg mb-4">Transaction products</p>
    <div class="grid grid-cols-5 [&>span]:uppercase text-xs mb-2">
        <span>product name</span>
        <span>category</span>
        <span>price</span>
        <span>description</span>
        <span>inspection period</span>
    </div>
    {% for product in product_list %}
    <div class="border-t border-gray-100 rounded p-2 grid grid-cols-5 text-sm">
    <p>{{ product.name }}</p>
    <p>{{ product.category }}</p>
    <p>{{ product.price }}</p>
    <p>{{ product.description }}</p>
    <p>{{ product.inspection_period }} days</p>
</div>
    {% endfor %}

</div>
<div class="mb-6">
    <p class="font-semibold text-lg mb-4">History </p>

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {% for history_entry in transaction.transactionhistory_set.all %}

    <li class="ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <span class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{{ history_entry.action_timestamp }}</span>
        <p class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ history_entry.action_description }} 	</p>
    </li>


    {% endfor %}
</ol>



</div>
    

{% endblock %}